@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    Layout = null;
}
@model Project_Blue.Models.ThongTinCaNhan
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/Login.css" />
    <link rel="stylesheet" href="/fontawesome-free-6.5.2-web/css/all.css" />
</head>

<body>
    <div class="container_blue">
        <div class="container__left">
            <div class="container__left-logo">
                <div class="left-logo--bg">
                    <div class="left-logo--text">Blue</div>
                </div>
            </div>
            <div class="container__left--grid-text">
                <div class="left-text-up">Đăng Ký</div>
                <div class="left-text-down">Login To Enjoy Your Life !</div>
            </div>
            <div class="left-text-decription">
                Đăng nhập hoặc đăng ký (miễn phí)
            </div>

            <form onsubmit="return checkPasswordMatch();" asp-action="Register" method="post">
                <div class="grid-input">
                    <input asp-for="Gmail"
                           class="input-login"
                           placeholder="Email" />
                </div>
                <div class="grid-input">
                    <span style="display:block" asp-validation-for="Gmail" class="text-danger"></span>
                </div>
                <div class="grid-input">
                    <input id="UserName"
                           asp-for="UserName"
                           class="input-login"
                           placeholder="Tên đăng nhập" />
                </div>
                <div class="grid-input">
                    <span style="display:block" asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="grid-input">
                    <input id="Password"
                           asp-for="Password"
                           class="input-login"
                           type="password"
                           placeholder="Mật khẩu" />

                    <!-- <i class="fa-solid fa-eye-slash icon_hide--pw"></i> -->
                </div>
                <div class="grid-input">
                    <span style="display:block" asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="grid-input">
                    <input id="ConfirmPassword"
                           asp-for="Password"
                           class="input-login"
                           type="password"
                           placeholder="Nhập lại mật khẩu" />
                    <!-- <i class="fa-solid fa-eye-slash icon_hide--pw"></i> -->
                </div>

                <div class="grid-input">
                    <input style="display:none"
                           value="1"
                           asp-for="TypeUser" />
                    <!-- <i class="fa-solid fa-eye-slash icon_hide--pw"></i> -->
                </div>
                <div class="grid-input">
                    <input id="TenKhachHang"
                           style="display:none"
                           asp-for="TenKhachHang" />
                    <!-- <i class="fa-solid fa-eye-slash icon_hide--pw"></i> -->
                </div>
                <div class="grid-input">
                    <button class="submit-login" type="submit">Đăng ký</button>
                </div>
            </form>
           
            <ul class="container__left--text-footer">
                <li class="text-footer-login">
                    <span class="text-forgot_pw">Quên mật khẩu</span>
                </li>
                <li class="text-footer-login">
                    <a asp-action="Login" class="text-register">Đăng nhập</a>
                </li>
            </ul>
        </div>
        <div class="container__right">
            <div class="container__right--bg-img">
                <div class="right--grid-img-login">
                    <div class="right--grid-img-login-text">
                        MẠNG XÃ HỘI CỦA NGƯỜI VIỆT
                    </div>
                    <img class="right--img-login"
                         src="/imagesPost/Image_Login.png"
                         alt="image_social_netword" />
                </div>
            </div>
        </div>
    </div>
    <script>
        function checkPasswordMatch() {
            var password = document.getElementById("Password").value;
            var confirmPassword = document.getElementById("ConfirmPassword").value;

            if (password != confirmPassword) {
                alert("Re-enter the password does not match. Please re-enter!");
                return false;
            }
            return true;
        }
        var UserName = document.getElementById("UserName");
        var tenKhachHang = document.getElementById("TenKhachHang");
        UserName.oninput = function () {
            tenKhachHang.value = UserName.value
        }
    </script>
</body>
</html>
